<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=640,initial-scale=0.5,user-scalable=no">

    <title><%= current_page.data.title || "Framer" %></title>

    <%= stylesheet_link_tag "app" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
    <%= javascript_include_tag  "app" %>
  </body>
</html>
